grant usage on schema {{schema_name}} to nmi;
grant execute on all functions in schema {{schema_name}} to nmi;
grant select on all sequences in schema {{schema_name}} to nmi;
grant select on all tables in schema {{schema_name}} to nmi;
